@page
@model CourseManagement.Pages.Home.MarkReport.IndexModel
@{
}
<h1>Academic Transcript</h1>
<table class="table table-bordered table-striped">
    <tr>
        <th>No</th>
        <th>Semester</th>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th>Credit</th>
        <th>Grade</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Fall2019</td>
        <td>GDQP</td>
        <td>Military Education</td>
        <td>0</td>
        <td>7.3</td>
        <td>Passed</td>
    </tr>
</table>