@page
@model CourseManagement.Pages.Admin.IndexModel
@{
}
<h1>Admin Page</h1>
<ul>
    <li><a href="/Admin/Semester">Manage semester</a></li>
    <li><a href="#">Manage subject</a></li>
    <li><a href="/Admin/Student">Manage student</a></li>
    <li><a href="#">Manage course</a></li>
</ul>