@page
@model CourseManagement.Pages.Home.Schedule.IndexModel
@{
}
<h1>Schedule</h1>
<table class="table table-bordered">
     <tr>
        <th class="text-center">Monday</th>
        <th class="text-center">Tuesday</th>
        <th class="text-center">Wednesday</th>
        <th class="text-center">Thursday</th>
        <th class="text-center">Friday</th>
        <th class="text-center">Saturday</th>
        <th class="text-center">Sunday</th>
     </tr>
     <tr>
        <td class="text-center">Slot 1</td>
        <td class="text-center">
             PRN221
            </br>
             (7h - 8h30)
         </td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
     </tr>
    <tr>
        <td class="text-center">Slot 2</td>
        <td class="text-center">
           
        </td>
        <td class="text-center"></td>
        <td class="text-center">
            PRN221
            </br>
            (10h - 11h30)
        </td>
        <td class="text-center">
            PRN221
            </br>
            (12h - 1h30)
        </td>
        <td class="text-center"></td>
        <td class="text-center"></td>
    </tr>
    <tr>
        <td class="text-center">Slot 3</td>
        <td class="text-center">
        </td>
        <td class="text-center"></td>
        <td class="text-center">
            PRN221
            </br>
            (10h - 11h30)
        </td>
        <td class="text-center">
            PRN221
            </br>
            (12h - 1h30)
        </td>
        <td class="text-center"></td>
        <td class="text-center"></td>
    </tr>
    <tr>
        <td class="text-center">Slot 4</td>
        <td class="text-center">
        </td>
        <td class="text-center"></td>
        <td class="text-center">
            
        </td>
        <td class="text-center">
           
        </td>
        <td class="text-center"></td>
        <td class="text-center"></td>
    </tr>
    <tr>
        <td class="text-center">Slot 5</td>
        <td class="text-center">
        </td>
        <td class="text-center"></td>
        <td class="text-center">
        </td>
        <td class="text-center">
        </td>
        <td class="text-center"></td>
        <td class="text-center"></td>
    </tr>
</table>