@page "/Home"
@model CourseManagement.Pages.Home.IndexModel
@{
}
<ul>
    <li><a href="/Home/Schedule">View schedule</a></li>
    <li><a href="/Home/Curriculum">View curriculum</a></li>
    <li><a href="#">Request to change a course</a></li>
    <li><a href="#">Request to change a major</a></li>
</ul>