@page
@model CourseManagement.Pages.Home.Curriculum.IndexModel
@{
}
<h1>Curriculum</h1>
<table class="table table-bordered table-striped">
    <tr>
        <th>No</th>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th>Term</th>
    </tr>
    <tr>
        <td>1</td>
        <td>GDQP</td>
        <td>Military Education</td>
        <td>0</td>
    </tr>
</table>