@page "/Student"
@model CourseManagement.Pages.Student.IndexModel
@{
}
<ul>
    <li><a href="/Student/Schedule">View schedule</a></li>
    <li><a href="/Student/Curriculum">View curriculum</a></li>
    <li><a href="/Student/Register">Register a subject</a></li>
</ul>